<div class="card-contrainer">
  <md-card>
    <img class="logo" md-card-image style="margin: 0 auto;display: block;" src="assets/Images/LogoMtp_Edit.png" />
    <br/>
    <md-card-content>
      <md-input-container class="example-full-width">
        <input [(ngModel)]="username" mdInput placeholder="Username" />
      </md-input-container>
      <md-input-container class="example-full-width">
        <input type="password" [(ngModel)]="password" mdInput placeholder="Password" />
      </md-input-container>
      <div class="example-button-row">
        <a md-raised-button (click)="Login()">Login</a>
        <!--<a md-raised-button (click)="SignUp()">SignUp</a>-->
      </div>
    </md-card-content>
  </md-card>
</div>