<!--<p>
  <img style="margin: 0 auto;display: block;" src="assets/Images/LogoMtp.png" />
</p>

<p>
  <md-input-container class="example-full-width">
    <input [(ngModel)]="username" mdInput placeholder="Username" />
  </md-input-container>
</p>
<p>
  <md-input-container class="example-full-width">
    <input type="password" [(ngModel)]="password" mdInput placeholder="Password" />
  </md-input-container>
</p>

<div class="example-button-row">
  <a md-raised-button (click)="Login()">Login</a>
  <a md-raised-button (click)="SignUp()">SignUp</a>
</div>-->




<div class="contraner">
  <div class="mdl-layout mdl-layout--fixed-header mdl-js-layout  mdl-color--white-100">
    <main class="mdl-layout__content main_content">

      <div class="login-form-div mdl-grid mdl-shadow--2dp">

        <img class="logo" src="assets/Images/LogoMtp.png" />

        <div class="mdl-cell mdl-cell--12-col cell_con">
          <i class="material-icons">person</i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input [(ngModel)]="username" class="mdl-textfield__input" type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
              id="sample2">
            <label class="mdl-textfield__label" for="sample2">Enter valid Email</label>
            <span class="mdl-textfield__error">Invalid Email...!</span>
          </div>
        </div>
        <div class="mdl-cell mdl-cell--12-col cell_con">
          <i class="material-icons">lock</i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input [(ngModel)]="password" class="mdl-textfield__input" type="password" id="sample2">
            <label class="mdl-textfield__label" for="sample2">Enter Password</label>
          </div>
        </div>
        <div class="mdl-cell cell_con">
          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
						<input type="checkbox" id="checkbox-2" class="mdl-checkbox__input">
						<span class="mdl-checkbox__label">Remember Me</span>
				    </label>
        </div>
        <div class="mdl-cell mdl-cell--12-col  login-btn-con">
          <button (click)="Login()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary btn">Login</button>
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet links">
          <a class="mdl-button--primary">Register now !</a>
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet links">
          <a class="mdl-button--primary">Forgot password ?</a>
        </div>
      </div>
    </main>
  </div>
</div>