<script src="node_modules/chart.js/src/chart.js"></script>

<md-sidenav-container fullscreen>

  <md-toolbar color="primary">
    <button md-icon-button [routerLink]="['/Sensor', 'TKh.107']">
            <md-icon>keyboard_arrow_left</md-icon>
        </button>
    <span>{{sensorCode}} {{sensorName}}</span>
    <span class="example-spacer"></span>
  </md-toolbar>

  <md-card>
    <md-card-title>
    </md-card-title>
    <md-card-content>

      <md-button-toggle-group #group="mdButtonToggleGroup">
        <md-button-toggle (click)="RenderCraph1D()">
          <span>1D</span>
        </md-button-toggle>
        <md-button-toggle (click)="RenderCraph2D()">
          <span>2D</span>
        </md-button-toggle>
        <md-button-toggle (click)="RenderCraph3D()">
          <span>3D</span>
        </md-button-toggle>
        <md-button-toggle (click)="RenderCraph5D()">
          <span>5D</span>
        </md-button-toggle>
        <md-button-toggle (click)="RenderCraphWk()">
          <span>Wk</span>
        </md-button-toggle>
        <md-button-toggle (click)="RenderCraph2Wk()">
          <span>2Wk</span>
        </md-button-toggle>
      </md-button-toggle-group>

      <div class="row">
        <div class="col-md-6">
          <div style="display: block;">
            <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
              [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
            </canvas>
          </div>
        </div>
      </div>

    </md-card-content>

  </md-card>

</md-sidenav-container>