 md-card{
     box-sizing: border-box;
     margin: 16px;
 }

agm-map {
  height: 300px;
}

.secondary { 
    color: rgba(0,0,0,0.54);
 }

 [md-fab]{
     position: absolute;
     right: 3%;
     top: 34px;
     z-index: 1;
 }

.card-contrainer{
     display: flex;
     flex-flow: row wrap;
}

 md-sidenav-container{
     color:rgba(0,0,0,0.54);
 }

 md-card{
     width: 100%;
     box-sizing: border-box;
     margin: 16px;
 }

 md-chip {
  width: 50px;
  text-align: center;
}

 table{
     width: 100%;
 }

md-input-container{
     margin: 8px 0;
     width: 100%;
 }

 md-radio-button, md-checkbox{
     margin: 16px 8px;
 }
 
 .form{
     display:flex;
 }

 .form md-card{
     flex-grow: 1;
 }

.demo-list-two {
    width: 100%;
  /*width: 300px;*/
}

md-card{
    width: 100%;
}