<md-sidenav-container fullscreen>
    <md-toolbar color="primary">
        <button md-icon-button [routerLink]="['/Station']">
            <md-icon>keyboard_arrow_left</md-icon>
        </button>
        <span>{{stationCode}} {{stationName}}</span>
        <span class="example-spacer"></span>

        <button md-fab (click)="formShowing=!formShowing">
      <md-icon>data_usage</md-icon>
    </button>
    </md-toolbar>

    <div class="form" *ngIf="formShowing">
        <md-card>
            <agm-map [latitude]="lat" [longitude]="lng">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
            <div class="mdl-list__item-primary-content">
                <span class="title" align="end">รหัสสถานี : </span>{{station.StationCode}}
            </div>

            <div class="mdl-list__item-primary-content">
                <span class="title" align="end">ชื่อสถานี : </span>{{station.StationName}}
            </div>

            <div class="mdl-list__item-primary-content">
                <span class="title" align="end">ที่ตั้ง : </span>{{station.Description}}
            </div>

            <div class="mdl-list__item-primary-content">
                <span class="title" align="end">พิกัด N : </span>{{station.Latitude}}
            </div>

            <div class="mdl-list__item-primary-content">
                <span class="title" align="end">พิกัด E : </span>{{station.Longtitude}}
            </div>
        </md-card>
    </div>

    <ul class="demo-list-two mdl-list">
        <md-list-item *ngFor="let sensor of listSensors">
            <li class="mdl-list__item mdl-list__item--two-line" [routerLink]="['/Graph', sensor.SensorCode]">
                <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-avatar">{{sensor.Icon}}</i>
                    <span>{{sensor.SensorType}}</span>
                <span class="mdl-list__item-sub-title">
                       {{sensor.UpdateTime}}
                    </span>
                </span>
                <span class="mdl-list__item-secondary-content">
                    <md-chip-list>
                        <md-chip color="primary" selected="true">{{sensor.Value}}</md-chip>
                    </md-chip-list>
                </span>
            </li>
        </md-list-item>
    </ul>

</md-sidenav-container>